# Temp files
.DS_Store
*~
buck-out/
.ipynb_checkpoints

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/
/src/mudata/_version.py

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/
